@use '../variables.scss';

//TODO: Provjriti dizajn - u dizajnu je donji dio slike sakriven ispod teksta kartice, tako bi slike mogle izgledati čudno.
// U dizajnu je predviđeno da naslov stane u max dva reda, a ne mozemo s time racunati, nije dobro iskustvo da se naslov reže
// Ako nam je visina kartice ovisna o visini naslova, nije moguce napraivit da latest news ovisi o visini ostalih kartica u kolonama
.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 21px;
  height: 100vh; /* constrain container to viewport height */

  .card {
    background-color: variables.$card-background-color;
    border-radius: variables.$card-radius;
    max-height: 400px;

    &.latest-news {
      grid-column: 3;
      grid-row: 1 / 2;
      overflow-y: auto;
      max-height: calc (400px * 2 + 21px);
    }
  }
}
