@import '../variables.scss';

.header {
  width: 100%;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;

  .header-content {
    width: $page-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
    color: $text-color-light;

    .header-left {
      display: flex;
      align-items: center;
      gap: 46px;

      .header-text {
        font-weight: $font-weight;
      }
    }

    .homepage-link {
      text-decoration: none;
      font-weight: $font-weight-bold;
    }

    .header-right {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}
